<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Thymeleaf Application</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head> 

<body id="refreshed" value="no">

<script type="text/javascript">
    onload=function(){
        var e=document.getElementById("refreshed");
        if(e.value=="no") { 
            window.location.reload();
        }
        e.value="yes";
    }
</script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Spring Thymeleaf Application - Prediabetes Classification with Data Mining</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/index}">Home</a>     
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/page1}">Previous</a>     
                </li> 
            </ul>
            <!-- <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>

<div id="ui-root"> 
    <div class="card2" style="background: #fce9a2; position:absolute;
                        overflow-wrap: break-word;">
            <p class="info" >
                Check 1 or more boxes from the list. 

            </p>
            <p class="info" >
                Hover and click the items for information.
            </p>
        </div>
    <div id="pageCenter">
        <form th:action="@{/results}" method="post" th:object="${tree}">  
            <div class="card mid">
            <h1 class= "application">Application</h1>
            <p class="review" style="color:red;font-size:14px;font-family:'Courier New';">
                            <th:block th:text="${str}" >inputs</th:block>
                        </p>
                <div th:fragment="checkboxChildren(children, path)">
                    <div th:class="${#strings.equals('children', path) ? '' : 'ml-5'}" th:each="child, stat : ${children}"
                         th:with="valuePath=${path + '[' + stat.index + '].value'}, labelPath=${path + '[' + stat.index + '].label'}">

                        <label> 
                            <input type="hidden" th:name="${labelPath}" th:value="${child.label}"/>
                            <input type="checkbox" th:name="${valuePath}" 
                                   th:checked="${child.value}"
                                   th:value="${child.value}" 
                                   onclick="this.value = this.checked"/>
                            <a class="btn-box" th:href="${child.website}" target="_blank" rel="noopener noreferrer"> 
                                <th:block th:text="${child.label}">Label</th:block>
                            </a>
                        </label>

                        <div th:if="${!#lists.isEmpty(child.children)}"
                             th:replace="page2 :: checkboxChildren(${child.children}, ${path + '[' + stat.index + '].children'})"></div>
                    </div>
                </div>

                <br>
                <div class="row"> 
                    <div class="listContainer"> 
                         
                        <div th:if="${!#lists.isEmpty(children)}"
                                 th:replace="page2 :: checkboxChildren(${tree.children}, 'children')"></div> 
                    </div>
                </div> 
                <br><br>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div> 
        </form>
        <!-- <div class="card"> 
            <div class="card">
                <h1 class="definition">Definition</h1>
            </div>
            <div class="card">
                <h1 class="definition">
                    <button class="btn2 btn-primary" type="submit">a</button>
                    <button class="btn2 btn-primary" type="submit">b</button>
                </h1>
            </div>
        </div>  --> 
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>